<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.approve.mapper.SteelDamageInfoMapper">
    <resultMap id="SteelDamageInfoResultMap" type="com.mk.approve.entity.SteelDamageInfo">
        <result column="steel_id" property="steelId"/>
        <result column="steel_flow_name" property="steelFlowName"/>
        <result column="flow_state" property="flowState"/>
        <result column="promoter_id" property="promoterId"/>
        <result column="first_approver_id" property="firstApproverId"/>
        <result column="secondary_approver_id" property="secondaryApproverId"/>
        <result column="discovery_time" property="discoveryTime"/>
        <result column="job_different" property="jobDifferent"/>
        <result column="line_name" property="lineName"/>
        <result column="mileage" property="mileage"/>
        <result column="gubie" property="gubie"/>
        <result column="iron_number" property="ironNumber"/>
        <result column="curved_line" property="curvedLine"/>
        <result column="factory_name" property="factoryName"/>
        <result column="steel_length" property="steelLength"/>
        <result column="steel_type" property="steelType"/>
        <result column="steel_flow_date" property="steelFlowDate"/>
        <result column="steel_date" property="steelDate"/>
        <result column="instrument_number" property="instrumentNumber"/>
        <result column="display_wave" property="displayWave"/>
        <result column="damage_reason" property="damageReason"/>
        <result column="damage_location" property="damageLocation"/>
        <result column="damage_situation" property="damageSituation"/>
        <result column="remark" property="remark"/>
        <result column="sketch_url" property="sketchUrl"/>
        <result column="zhiji" property="zhiji"/>
        <result column="zhushou" property="zhushou"/>
        <result column="lingban" property="lingban"/>
        <result column="handle_suggestion" property="handleSuggestion"/>
        <result column="handwritingsign_url1" property="handwritingsignUrl1"/>
        <result column="handwritingsign_url2" property="handwritingsignUrl2"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="getSteelListByPromoterId" resultType="com.mk.approve.entity.SteelDamageInfo">
        <include refid="sql_getSteelList"/>
        where
            s.promoter_id = u.user_id
            and u.del_flag = 0 and s.del_flag = 0
            and u.account = #{account}
        ORDER BY s.steel_flow_date desc
    </select>

    <select id="getSteelListByFirstApproverId" resultType="com.mk.approve.entity.SteelDamageInfo">
        <include refid="sql_getSteelList"/>
        where
            s.first_approver_id = u.user_id
            and u.del_flag = 0 and s.del_flag = 0
            and u.account = #{account}
        ORDER BY s.steel_flow_date desc
    </select>
    <select id="getSteelListBySecondaryApproverId" resultType="com.mk.approve.entity.SteelDamageInfo">
        <include refid="sql_getSteelList"/>
        where
            s.secondary_approver_id = u.user_id
            and u.del_flag = 0 and s.del_flag = 0
            and u.account = #{account}
        ORDER BY s.steel_flow_date desc
    </select>
    <!--查全部 -->
    <select id="getAllSteelList" resultType="com.mk.approve.entity.SteelDamageInfo">
        <include refid="sql_getSteelList"/>
        where
        u.del_flag = 0 and s.del_flag = 0
        ORDER BY s.steel_flow_date desc
    </select>
    <sql id="sql_getSteelList">
        select DISTINCT
            s.steel_id AS steelId,
            s.steel_flow_name AS steelFlowName,
            s.flow_state AS flowState,
            s.promoter_id AS promoterId,
            s.first_approver_id AS firstApproverId ,
            s.secondary_approver_id AS secondaryApproverId,
            substring_index(s.steel_flow_date,0,9) as steelFlowDate,
            (select user_name from user_info where s.promoter_id = user_id)AS promoterName,
            (select user_name from user_info where s.first_approver_id = user_id)AS firstApproverName,
            (select user_name from user_info where s.secondary_approver_id = user_id)AS secondaryApproverName
        from steel_damage_info s,user_info u
    </sql>


</mapper>