<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.approve.mapper.UserInfoMapper">
    <resultMap id="UserInfoResultMap" type="com.mk.approve.entity.UserInfo">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="account" property="account"/>
        <result column="openid" property="openid"/>
        <result column="company_id" property="companyId"/>
        <result column="tel" property="tel"/>
        <result column="identity_type" property="identityType"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!--<parameterMap id="User" type="com.mk.approve.entity.UserInfo"/>-->

    <sql id="Base_Column_List">
        user_id, name, company
    </sql>
    <select id="findAllUser" resultMap="UserInfoResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_info
    </select>
</mapper>